@import "~@/styles/theme.scss";

#topSearch {
    //float: left;
    margin-bottom: 16px;

    & >.el-input {
        width: 200px;
    }

    & #advancedSearchBtn {
        font-size: 14px;
        margin-left: 10px;
        color: $themeColor;
        cursor: pointer;
    }
    & #advancedSearchArea {
        margin-top: 16px;
        //width: 100%;
    }
    & >.el-row::before {
        position: absolute;
        top: -9px;
        left: 234px;
        background-image: url(../assets/images/triangle.png);
        width: 20px;
        height: 10px;
        z-index: 2;
    }
    & .el-card__body {
        background-color: #F3F5F8;
        /deep/ .el-form-item {
            width: 33%;
            display: inline-block;
        }
        /deep/ .el-input {
            width: 200px;
        }
        /deep/ .el-date-editor.el-input, .el-date-editor.el-input__inner {
            width: 200px;
        }
        /deep/ .el-date-editor.el-range-editor.el-input, .el-date-editor.el-range-editor.el-input__inner {
            width: auto;

            & /deep/.el-range-separator {
                width: auto;
            }
        }
    }
}
#advancedSearchArea #searchPopoverBtn {
    padding-left: 100px;
}

#topBtn {
    position: absolute;
    top: 20px;
    right: 20px;
}

#bottomOperation {
    float: left;
    margin: 16px 16px 16px 0;
}
.iconfont {
    margin-right: 4px;
    font-size: 12px;
}

.el-table .iconfont {
    font-size: 12px;
}
.el-table .el-button {
    border: 1px solid #E5E5E5;
    border-color: #E5E5E5;
    color: #666666;
}
.el-table .el-dropdown {
    margin-left: 4px;
}
.el-form .tip {
    color: #c0c4cc;
    line-height: 24px;
    font-size: 12px;
}
.form-edit .form, .form-edit #btnGroup {
    width: 600px;
    margin: 0 auto;
}

.form-edit #btnGroup {
    padding-left: 80px;
}
.scrollbar-wrapper {
    overflow-x: hidden;
}
