@import "~@/styles/theme.scss";

#topSearch {
    margin-bottom: 16px;

    & >.el-input {
        width: 200px;
    }

    & #advancedSearch {
        font-size: 14px;
        margin-left: 10px;
        color: $themeColor;
        cursor: pointer;
    }

    & .el-input__suffix {
        border-left: 1px solid #c0c4cc;
        cursor: pointer;
    }

    & .el-input__suffix:hover {
        background-color: #c0c4cc;
    }

    & #searchPopoverBtn {
        text-align: right;
        margin: 0;
        margin-top: 10px;
    }
}

#bottomOperation {
    float: left;
    margin: 16px 16px 16px 0;
}
