@import "~@/styles/theme.scss";

#topSearch {
    //float: left;
    margin-bottom: 16px;
    & >.el-input {
        width: 200px;
        float: left;
    }

    & #advancedSearchBtn {
        height: 32px;
        line-height: 32px;
        font-size: 14px;
        margin-left: 10px;
        color: $themeColor;
        cursor: pointer;
    }
    & #advancedSearchArea {
        margin-top: 16px;
    }
    & .el-row{
        clear: both;
        margin-top: 10px;
    }
    & >.el-row::before {
        position: absolute;
        top: -9px;
        left: 228px;
        background-image: url(../assets/images/triangle.png);
        width: 20px;
        height: 10px;
        z-index: 2;
    }
    & .el-card__body {
        background-color: #F3F5F8;

        & /deep/ .el-form .el-form-item {
            width: 33%;
            display: inline-block;
        }
        & /deep/ .el-form .el-input {
            width: 200px;
        }
        & /deep/ .el-date-editor.el-input, .el-date-editor.el-input__inner {
            width: 200px;
        }
        & /deep/ .el-date-editor.el-range-editor.el-input, .el-date-editor.el-range-editor.el-input__inner {
            width: auto;
        }
    }
}
// 火狐与IE下此处表现异常，拿出来重写此部分样式 ================================================
#topSearch .el-form .el-form-item {
    width: 33%;
    display: inline-block;
}
#topSearch .el-form .el-input {
    width: 200px;
}
#topSearch .el-date-editor.el-input, #topSearch .el-date-editor.el-input__inner {
    width: 200px;
}
#topSearch .el-date-editor.el-range-editor.el-input, #topSearch .el-date-editor.el-range-editor.el-input__inner {
    width: auto;
}
// ========================================================================================

.el-date-editor .el-range-separator {
    width: auto!important;
}
#advancedSearchArea #searchPopoverBtn {
    padding-left: 100px;
}

#topBtn {
    position: absolute;
    top: 20px;
    right: 20px;
}

#bottomOperation {
    float: left;
    margin: 16px 16px 16px 0;

    .iconfont {
        margin-right: 4px;
    }
}
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
#topBtn .iconfont, .el-table .iconfont {
    margin-right: 4px;
    font-size: 12px;
}
.iconfont.iconzengjia {
    font-size: 14px;
}

.el-table .iconfont {
    font-size: 12px;
}
.el-table .el-button {
    border: 1px solid #E5E5E5;
    border-color: #E5E5E5;
    color: #666666;
}
.el-table .el-dropdown {
    margin-left: 4px;
}
.el-form .tip {
    color: #c0c4cc;
    line-height: 24px;
    font-size: 12px;
}
.form-edit .el-form, .form-edit .form, .form-edit #btnGroup {
    width: 600px;
    margin: 0 auto;
}

.form-edit #btnGroup {
    padding-left: 80px;
}
.form-edit #btnGroup .el-button {
    font-size: 14px;
}
.scrollbar-wrapper {
    overflow-x: hidden;
}
ul,li { padding:0;margin:0;list-style:none}

.vadioPlay .video-dimensions {
    width: 100% !important;
    height: 50vh !important;
}
.vadioPlay .video-js {
     width: 100% !important;
     height: 50vh !important;
}
.el-table /deep/ .thumbnail {
    width: 100px;
    height: 100px;
    border: 1px solid #e8e8e8;
    vertical-align: middle;
}
.el-table /deep/ .thumbnail-online-class {
    width: 120px;
    height: 69px;
    border: 1px solid #e8e8e8;
    vertical-align: middle;
}

// 修改播放器按钮控制条的行高
.vjs-button > .vjs-icon-placeholder:before {
    line-height: 2;
}

// 修改直播端分享弹出层样式
.el-popover.sharePopover {
    min-width: 114px!important;
}