.required>.el-form-item__label:before {
    content: '*';
    color: #F74848;
    margin-right: 4px;
}

.fl{
    float: left;
}
.fr{
    float: right;
}

.hide {
    display: none;
}

/*双伪元素清除浮动----------！！！！*/
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*兼容IE浏览器清除浮动*/
.clearfix {
    zoom: 1;
}

.pointer {
    cursor: pointer;
}
.underline {
    text-decoration: underline;
}
    //回车换行（textarea）
.pre-wrap {
    white-space: pre-wrap;
}
.singleLineOmission {
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.tc {
    text-align: center;
}
.m0a {
    margin: 0 auto;
}
