@import './theme.scss';

// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#F96146;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$yellow2:#F9B448;
$panGreen: #30B08F;
$success: #13ce66;
$black: #101010;

// sidebar
$menuText:#ffffff;
$menuActiveText:#ffffff;
$subMenuActiveText:#ffffff; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#304156;
$activeMenuBg:$themeColor;
$menuHover:#263445;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

$sideBarWidth: 210px;
$fontColor: #333;
$actColor: $themeColor;

// 课堂详情
$lesson-detail-blue:#1b304a;
$border_color: #243752;
$deep_color: rgba(0,0,0,0.4);


// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  activeMenuBg: $activeMenuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
